body { 
    margin:0px;
    margin-left: 100px;
    margin-right: 100px;
    padding:0;
    font-family:helvetica, sans-serif; 
    background-color: #EDBFB2;
}

a { 
    color:#884430;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #933A20;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:100%;
    text-align: center;
}

p.fullcontent {
    text-align: left;
}

p.date { 
    color:#A76552;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

